{% extends 'templates/main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <h4>Student Details</h4>
    </div>
   
    <div class="card-body">
      <div class="section-title mt-0"></div>
      <form id="" method="post" class="">
        {% csrf_token %}
        <div class="modal-body">

            {{form.as_table}}
            
            {{form2.as_table}}
        
        </div>
        <div id="login_btn" class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
               SAVE CHANGES
            </button>
        </div>
    </form>
    </div>
</div>
{% endblock %}