
{% extends 'templates/main/base.html' %}

{% block title %}
employees list
{% endblock %}

{% block content %}
<section class="section">
<div class="section-body">
<div class="row">
    <div class="col-12">
     
      <div class="card">
        <div class="card-header">
            <h4 class="d-inline">Add Payment for {{fee.fee_title}} | MK{{fee.fee_amount}}</h4>
            <div class="card-header-action">
            <span class="badge {% if fee.closed %} badge-danger {% else %} badge-success {% endif %}"><i class="fa fa-circle"></i></span>
           
            </div>
        </div>
        <div class="card-body">
            {% if fee.closed %}
            <div class="modal-body">
              <p>This fee collection point is closed</p>
              <p>Creat new fee collection point to collect fees</p>
            </div>
            {% else %}
            <form id="" method="post" class="">
              {% csrf_token %}
              <div class="modal-body">
                <label for="student">Student:</label>
                {% if is_other %}
                <select name="student_id" id="student" class="form-control select2" required>
                  <option value="">-----------</option>
                  {% for student in students %}
                    <option value="{{student.id}}">{{student}}</option>
                  {% endfor %}
                </select>
                {% else %}
                <select name="student_id" id="student" class="form-control select2" required>
                  <option value="">-----------</option>
                  {% for enrollment in category.enrollment.all %}
                    <option value="{{enrollment.student.id}}">{{enrollment.student}}</option>
                  {% endfor %}
                </select>
                {% endif %}
                {{ form }}
              </div>
              <div class="modal-footer bg-whitesmoke br">
                <button class="btn btn-primary" type="submit" name="add-onother">Save and add onother</button>
                <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
                <a href="../" type="button" class="btn btn-secondary">Back</a>
              </div>
            </form>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Add student modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Fee Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if fee.closed %}
      <div class="modal-body">
        <p>This fee collection point is closed</p>
        <p>Creat new fee collection point to collect fees</p>
      </div>
      {% else %}
      <form id="" method="post" class="">
        {% csrf_token %}
        <div class="modal-body">
          <label for="student">Student:</label>
          <select name="student_id" id="student" class="form-control select2" style="width: fit-content;" required>
            <option value="">-----------</option>
            {% for enrollment in category.enrollment.all %}
              <option value="{{enrollment.student.id}}">{{enrollment.student}}</option>
            {% endfor %}
          </select>
          {{ form }}
        </div>
        <div class="modal-footer bg-whitesmoke br">
          <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  
  $('#id_employee').on('change', function(){
    $.ajax({
            type:'POST',
            url:'',
            data: {
                employee:$('#id_employee').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        
            },
            success: function(data){
              $('#id_salary').val(`${data.salary}`);
            },
    });
  });

</script>
{% endblock %}
