{% extends 'templates/main/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Student profile {% endblock %}

{% block content %}


    <section class="section">
      <div class="section-body">
        <div class="row mt-sm-4">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card author-box">
              {% if is_admin %}
              <div class="card-header">
                <h4>Student</h4>
                <div class="card-header-action">
                  <a href="{% url 'student:update' student.id school_id %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
              </div>
              {% endif %}
              <div class="card-body">
                <div class="author-box-center">
                  <img alt="image" src="{% static 'assets/img/users/user-1.png' %}" class="rounded-circle author-box-picture">
                  <div class="clearfix"></div>
                  <div class="author-box-name">
                    {{student.first_name|title}} {{student.last_name|title}}
                  </div>
                  {% for n in student.class_students.all %}
                  {{n.class_name}} 
                  {% endfor %}
                </div>
              </div>
              <div class="card-footer">
                <div class="btn-group">
                  <a href="{% url 'student:atte' student.id school_id %}" class="btn btn-sm btn-primary">Attendance</a>
                  <a href="{% url 'student:exams' student.id school_id %}" class="btn btn-sm btn-info">Exams</a>
                  <a href="{% url 'student:ass' student.id school_id %}" class="btn btn-sm btn-warning">Asignments</a>
                  <a href="{% url 'student:check_outs' student.id school_id %}" class="btn btn-sm btn-secondary">Library</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4>Student Details</h4>
                {% if is_admin %}
                <div class="card-header-action">
                  <a href="{% url 'student:update' student.id school_id %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                  </a>
                </div>
                {% endif %}
              </div>
              <div class="card-body">
                <div class="py-4">
                  <p class="clearfix">
                    <span class="float-left">
                      Birthday
                    </span>
                    <span class="float-right text-muted">
                      30-05-1998
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Gender
                    </span>
                    <span class="float-right text-muted">
                      <a href="#">{{student.gender}}</a>
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      ID Number
                    </span>
                    <span class="float-right text-muted">
                      <a href="#">{{student.id_number}}</a>
                    </span>
                  </p>
                </div>
                  <p class="clearfix">
                    <span class="float-left">
                      Phone
                    </span>
                    <span class="float-right text-muted">
                      {{student.phone}}
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Address
                    </span>
                    <span class="float-right text-muted">
                      {{student.address}}
                    </span>
                  </p>
                  {% for enrollement in student.enrollement.all %}
                  <p class="clearfix">
                    <span class="float-left">
                      Department
                    </span>
                    <span class="float-right text-muted">
                      <a href="#">{{enrollement.department}}</a>
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Courses Take
                    </span>
                    {% for course in enrollement.courses.all %}
                    <span class="float-right badge badge-info badge-pill p-1">
                      {{course}}
                    </span>
                    {% endfor %}
                    
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Subjects Take
                    </span>
                    {% for subject in enrollement.subjects.all %}
                    <span class="float-right badge badge-info badge-pill p-1">
                      {{subject}}
                    </span>
                    {% endfor %}
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Date Enrolled
                    </span>
                    <span class="float-right text-muted">
                      {{enrollement.start_date}}
                    </span>
                  </p>
                  {% endfor %}
                  
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <h4>Fee Details</h4>
              </div>
              <div class="card-body">
                <p class="clearfix">
                  <span class="float-left">
                    Tuition Fee 
                  </span>
                  <span class="float-right text-muted">
                    {{fee_category.fees.first}}
                  </span>
                </p>
                
                <p class="clearfix">
                  <span class="float-left">
                    Tuition Fee Paid 
                  </span>
                  <span class="float-right text-muted">
                    <span class="badge badge-success">MK{{enrollment.total_fee_paid}}</span>
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Tuition Balance 
                  </span>
                  <span class="float-right text-muted">
                    <span class="badge badge-warning">MK{{enrollment.fee_balance}}</span>
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Additional Fees 
                  </span>
                  {% for fee in enrollment.other_fees.all %}
                  <span class="float-right text-muted">
                    {{fee}} 
                  </span> <br>
                  {% endfor %}
                </p>
                <!-- <h6>Fee Payments</h6>
                <div class="table-responsive">
                  <table class="table table-striped table-hover" style="width:100%;">
                    <thead>
                      <tr>
                          <th>Paid Amount</th>
                          <th>Date </th>
        
                      </tr>
                    </thead>
                    <tbody>
                      {% for payment in fee.fee_payments.all %}
                      {% if payment.student == student %}
                      <tr>
                          <td>{{ payment.amount_paid }}</td>
                          <td>{{ payment.payment_date }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div> -->

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h4>Fee Payment History</h4>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-striped table-hover" style="width:100%;">
                    <thead>
                      <tr>
                          <th>Title</th>
                          <th>Paid Amount</th>
                          <th>Date </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for payment in student.fee_payments.all %}
                      <tr>
                        <td>{{payment.other_fee.fee_title}} {% if payment.fee %} Tuition fee {% endif %}</td>
                        <td>{{ payment.amount_paid }}</td>
                        <td>{{ payment.payment_date }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
            <div class="card">
              <div class="card-header">
                <h4>Parent Details</h4>
                
                  <div class="card-header-action">
                  {% if parent %}
                  <a href="{% url 'school_admin:parent' parent.id school_id %}" class="btn btn-primary btn-sm">
                    View <i class="fas fa-eye"></i>
                  </a>
                  <a href="{% url 'chat:init2' parent.user.id school_id %}" class="btn btn-primary btn-sm">
                    Chat <i class="fas fa-comment"></i>
                  </a>
                  {% else %}
                    {% if is_admin %}
                      <a href="{% url 'school_admin:add_parent_details' school_id student.id %}" class="btn btn-primary btn-sm">
                        {% if parent_d %}
                          Update
                        {% else %}
                          Add
                        {% endif %}
                      </a>
                    {% endif %}
                  {% endif %}
                  </div>
                
              </div>
              <div class="card-body">
                {% if parent %}
                <p class="clearfix">
                  <span class="float-left">
                    Full name 
                  </span>
                  <span class="float-right text-muted">
                    {{parent.title|title}} {{parent.user.last_name|title}} ({{parent.user.first_name|title}} {{parent.user.last_name|title}})
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Phone number
                  </span>
                  <span class="float-right text-muted">
                    {{parent.phone}}
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Address 
                  </span>
                  <span class="float-right text-muted">
                    {{parent.address|title}}
                  </span>
                </p>
                {% else %}
                <p class="clearfix">
                  <span class="float-left">
                    Full name 
                  </span>
                  <span class="float-right text-muted">
                    {{parent_d.title|title}} {{parent_d.last_name|title}} ({{parent_d.first_name|title}} {{parent_d.last_name|title}})
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Phone number
                  </span>
                  <span class="float-right text-muted">
                    {{parent_d.phone}}
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Address 
                  </span>
                  <span class="float-right text-muted">
                    {{parent_d.address|title}}
                  </span>
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}