<div class="row ">
    
  <div class="col-xl-3 col-lg-6">
      
    <div class="card">
      <div class="card-body card-type-3">
        

        <div class="row">
          <div class="col">
            <h6 class="text-muted mb-0">Revenue</h6>
            <!-- <small>Total</small><span class="font-weight-bold mb-0">MK{{overall_income}}</span> <br> -->
            <small class="font-weight-bold mb-0">MK</small><span class="font-weight-bold mb-0">{{total_balance}}</span>
          </div>
          <div class="col-auto">
            <div class="card-circle bg-secondary text-white">
              <i class="fas fa-dollar-sign" style="font-size: 25px;"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span> -->
          <span class="text-nowrap">Current balance</span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body card-type-3">
        <div class="row">
          <div class="col">
            <h6 class="text-muted mb-0">Fees Income</h6>
            <small class="font-weight-bold mb-0">MK</small><span class="font-weight-bold mb-0">{{total_fees_this_month}}</span>
          </div>
          <div class="col-auto">
            <div class="card-circle bg-success text-white">
              <i class="fas fa-hand-holding-usd" style="font-size: 25px;"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span> -->
          <span class="text-nowrap">This month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body card-type-3">
        <div class="row">
          <div class="col">
            <h6 class="text-muted mb-0">Other Income</h6>
            <span class="font-weight-bold mb-0">MK{{total_other_income_month}}</span>
          </div>
          <div class="col-auto">
            <div class="card-circle bg-secondary text-white">
              <i class="fas fa-dollar-sign" style="font-size: 25px;"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span> -->
          <span class="text-nowrap">This month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card">
      <div class="card-body card-type-3">
        <div class="row">
          <div class="col">
            <h6 class="text-muted mb-0">Expenses</h6>
            <span class="font-weight-bold mb-0">MK{{total_expense_month}}</span>
          </div>
          <div class="col-auto">
            <div class="card-circle bg-secondary text-white">
              <i class="fas fa-dollar-sign" style="font-size: 25px;"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span> -->
          <span class="text-nowrap">This month</span>
        </p>
      </div>
    </div>
  </div>

</div>
