<div class="row ">
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body card-type-3">
          <div class="row">
            <div class="col">
              <h6 class="text-muted mb-0">Books</h6>
              <small></small><span class="font-weight-bold mb-0">{{all_books}}</span> <br>
            </div>
            <div class="col-auto">
              <div class="card-circle bg-primary text-white">
                <i class="fas fa-book" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body card-type-3">
          <div class="row">
            <div class="col">
              <h6 class="text-muted mb-0">Book Copies</h6>
              <span class="font-weight-bold mb-0">{{all_copies}}</span>
            </div>
            <div class="col-auto">
              <div class="card-circle bg-success text-white">
                <i class="fas fa-book-open" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body card-type-3">
          <div class="row">
            <div class="col">
              <h6 class="text-muted mb-0">Checked Out Copies</h6>
              <span class="font-weight-bold mb-0">{{all_checked_out}}</span>
            </div>
            <div class="col-auto">
              <div class="card-circle bg-warning text-white">
                <i class="fas fa-book" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card">
        <div class="card-body card-type-3">
          <div class="row">
            <div class="col">
              <h6 class="text-muted mb-0">Available Copies</h6>
              <span class="font-weight-bold mb-0">{{all_available}}</span>
            </div>
            <div class="col-auto">
              <div class="card-circle bg-info text-white">
                <i class="fas fa-book-open" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.4%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
  </div>
