
{% extends 'templates/main/base.html' %}

{% block title %}
employees list
{% endblock %}

{% block content %}
<section class="section">
<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="d-inline">Events</h4>
            <div class="card-header-action">
              <button id="show_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Event
              </button>
            </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover" id="" style="width:100%;">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Type</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                
                <tr class="{% if employee.needs_attention %} bg-warning {% endif %}">
                  <td>{{event.title}}</td>
                  <td>{{event.event_type}}</td>
                  <td>{{event.start_date}}</td>
                  <td>{{event.end_date}}</td>
                  <td><a href="{% url 'school_calendar:event_detail' event.id school_id %}" class="btn btn-primary">View</a> <a href="#" class="btn btn-danger">Del</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Calendar</h4>
        </div>
        <div class="card-body">
          <div class="fc-overflow">
            <div id="myEvent"></div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
  </div>
</div>
</section>

<!-- Add student modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="" method="post" class="">
          {% csrf_token %}
          <div class="modal-body">
              {{form}}
          </div>
          <div class="modal-footer bg-whitesmoke br">
            <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

$(document).ready(function(){
  var today = new Date();
year = today.getFullYear();
month = today.getMonth();
day = today.getDate();
var calendar = $('#myEvent').fullCalendar({
  height: 'auto',
  defaultView: 'month',
  editable: true,
  selectable: true,
  header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay,listMonth'
  },
  events: [{
    title: "mjaja nambo",
    start: new Date(year, month, day, 11, 30),
    end: new Date(year, month, 20, 12, 00),
    backgroundColor: "#00bcd4"
  }, {
    title: "Priya Sarma",
    start: new Date(year, month, day, 13, 30),
    end: new Date(year, month, day, 14, 00),
    backgroundColor: "#fe9701"
  }, {
    title: "John Doe",
    start: new Date(year, month, day, 17, 30),
    end: new Date(year, month, day, 18, 00),
    backgroundColor: "#F3565D"
  }, {
    title: "Sarah Smith",
    start: new Date(year, month, day, 19, 00),
    end: new Date(year, month, day, 19, 30),
    backgroundColor: "#1bbc9b"
  }, {
    title: "Airi Satou",
    start: new Date(year, month, day + 1, 19, 00),
    end: new Date(year, month, day + 1, 19, 30),
    backgroundColor: "#DC35A9",
  }, {
    title: "Angelica Ramos",
    start: new Date(year, month, day + 1, 21, 00),
    end: new Date(year, month, day + 1, 21, 30),
    backgroundColor: "#fe9701",
  }, {
    title: "Palak Jani",
    start: new Date(year, month, day + 3, 11, 30),
    end: new Date(year, month, day + 3, 12, 00),
    backgroundColor: "#00bcd4"
  }, {
    title: "Priya Sarma",
    start: new Date(year, month, day + 5, 2, 30),
    end: new Date(year, month, day + 5, 3, 00),
    backgroundColor: "#9b59b6"
  }, {
    title: "John Doe",
    start: new Date(year, month, day + 7, 17, 30),
    end: new Date(year, month, day + 7, 18, 00),
    backgroundColor: "#F3565D"
  }, {
    title: "Mark Hay",
    start: new Date(year, month, day + 5, 9, 30),
    end: new Date(year, month, day + 5, 10, 00),
    backgroundColor: "#F3565D"
  }]
});

})


</script>
{% endblock %}

