{% extends 'templates/main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<section class="section">
<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            {% if institution.edu_offer == 'tertialy education' %}
            <h4 class="d-inline">{{department|title}} Department</h4>
            {% else %}
            <h4 class="d-inline">{{department|title}} Department | {{department.subjects.count}} subject(s)</h4>
            {% endif %}
            <div class="card-header-action">
              {% if institution.edu_offer == 'tertialy education' %} 
              <button id="show_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Course
              </button>
              {% else %}
              <button id="show_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Subject
              </button>
              {% endif %}
            </div>
        </div>
        <div class="card-body">
          {% if institution.edu_offer == 'tertialy education' %}                
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
                <thead>
                  <tr>
                    <th>Course</th>
                    <th>Subjects</th>
                    <th>Action </th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in department.courses.all %}
                  <tr>
                    <td>{{course.title|title}}</td>
                    <td>
                      <ol>
                        {% for s in course.subjects.all %}
                        <li>{{s.title}}</li>
                        {% endfor %}
                      </ol>
                    </td>
                    
                    <td><a href="" class="btn btn-primary">View</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          
        </div>
        {% else %}
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
            <thead>
              <tr>
                <th>Subjects</th>
                <th>Description</th>
                <th>Action </th>
              </tr>
            </thead>
            <tbody>
              {% for s in department.subjects.all %}
              <tr>
                <td>{{s.title}}</td>
                <td>{{s.description}}</td>
                <td>
                  <a href="" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                  <a href="" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</section>

<!-- Add student modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add to {{department}} Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="" method="post" class="">
          {% csrf_token %}
          <div class="modal-body">
              {{form}}
          </div>
          <div class="modal-footer bg-whitesmoke br">
            <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

