{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- gmaps-geolocation.html  21 Nov 2019 04:04:55 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{% block title %} {% endblock %} | school-management.online</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href='{% static "assets/img/favicon.ico" %}' />
  <link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/prism/prism.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">

  <link rel="stylesheet" href="{% static 'assets/bundles/fullcalendar/fullcalendar.min.css' %}">
  {% block style %} {% endblock %}
</head>

<body>
  <!-- <div class="loader"></div> -->
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      
      
        <!--nav bar area-->
        {% if request.user.parent.all %}
                {% include 'templates/parent/dashboard/header.html' %}
        {% else %}
                {% include 'templates/main/header.html' %}
        {% endif %}
        
        <!--side bar-->
        {% if request.user.parent.all %}
            {% include 'templates/parent/dashboard/sidebar.html' %}
        {% else %}
            {% include 'templates/main/sidebar.html' %}
        {% endif %}
      
  
      <!-- Main Content -->
      <div class="main-content">
        
        {% block content %}
        
        {% endblock %}
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <!--footer-->
      {% include 'templates/parent/dashboard/footer.html' %}
     
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyB55Np3_WsZwUQ9NS7DP-HnneleZLYZDNw&amp;sensor=true"></script>
  <script src="{% static 'assets/bundles/gmaps.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/gmaps-geolocation.js' %}"></script>
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- <script src="{% static 'assets/js/page/chat.js' %}"></script> -->
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets/js/page/datatables.js' %}"></script>
  <script src="{% static 'assets/bundles/prism/prism.js' %}"></script>
  <script src="{% static 'assets/js/page/forms-advanced-forms.js' %}"></script>
  <script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static 'assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
  <script src="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>


  <script src="{% static 'assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/page/widget-data.js' %}"></script>

  <!-- JS Libraies -->
  <script src="{% static 'assets/bundles/fullcalendar/fullcalendar.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <!-- <script src="{% static 'assets/js/page/calendar.js' %}"></script> -->
  
  {% block scripts %}

  {% endblock %}



</body>


<!-- gmaps-geolocation.html  21 Nov 2019 04:04:56 GMT -->
</html>