{% extends 'templates/main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<section class="section">
<div class="section-body">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
              <!-- <h4>Access Denied</h4> -->
            </div>
            <div class="card-body">
              <div class="empty-state" data-height="400">
                <div class="empty-state-icon">
                  <i class="fas fa-question"></i>
                </div>
                <h2>No Assigned class Found!</h2>
                <p class="lead">
                  Looks like you dont have any classroom assigned to you
                </p>
                
                <a href="../" class="btn btn-primary mt-4">Take Me Back</a>
                <!-- <a href="#" class="mt-4 bb">Read Documantation</a> -->
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</section>


{% endblock %}

{% block scripts %}

{% endblock %}

