{% extends 'templates/main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<section class="section">
<div class="section-body">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="d-inline">{{ lesson_plan.title|title }}</h4>
            <div class="card-header-action">
              <button id="show_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit
              </button>
            </div>
        </div>
        <div class="card-body">
            <h4>{{ lesson_plan.title|title }}</h4>
            <p>{{ lesson_plan.description }}</p>
            <p>Objectives: {{ lesson_plan.objectives }}</p>
            <p>Materials Needed: {{ lesson_plan.materials_needed }}</p>
            <p>{{ lesson_plan.content }}</p>
            <p>Date: {{ lesson_plan.date }}</p>
            <a id="show_modal" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Edit</a>
            <a class="btn btn-danger" href="{% url 'teacher:lesson_plan_delete' pk=lesson_plan.pk %}">Delete</a>
            <a class="btn btn-warning" href="{% url 'teacher:lesson_plan_list' %}">Back to List</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Add student modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="" method="post" class="">
          {% csrf_token %}
          <div class="modal-body">

              {{form}}
              
          
          </div>
          <div class="modal-footer bg-whitesmoke br">
            <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

