{% extends 'templates/landing_page/base/base.html' %}

{% block content %}

 <!-- immer banner start -->
 <section class="inner-banner pt-80 pb-95" style="background-image: url('img/banner/inner-banner.jpg');" data-overlay="7">
    <div class="container">
        <div class="row z-5 align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <h1 class="f-700 green">About Us</h1>
                <span class="green-line bg-green d-none d-md-inline-block"></span>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <nav aria-label="breadcrumb" class="banner-breadcump">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home fs-12 mr-5"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="about-us pt-100 pb-100 bg-light-white">
    <div class="container">
        <div class="row align-items-xl-center">
            <!-- <div class="col-lg-6">
                <div class="relative img-lined bg-blue mx-auto shadow-1">
                    <img src="img/about/about_video.jpg" alt="" class="opacity-3 w-100">
                    <div class="blob green transform-center">
                        <a href="https://www.youtube.com/watch?v=qtQgbdmIO30" class="popup-video"> <i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div> -->
            <div class="col-12">
                <div class="about-text mt-md-60 text-center text-lg-left">
                    <div class="fancy-head left-al  mb-10">
                        <h5 class="line-head mb-10">
          <span class="line before d-lg-none"></span>
            About Us
          <span class="line  after"></span>
        </h5>
                        <h1>Our Success Story</h1>
                    </div>
                    <p class="big-p blue">{{about.content1}}</p>
                    <p class="big-p blue">{{about.content2}}</p>
                    <!-- <div class="about-author mt-20 d-flex align-items-center justify-content-center justify-content-lg-start">
                        <div class="signature mr-45 mr-xs-15">
                            <img src="img/about/signature.png" alt="">
                        </div>
                        <div class="name-author">
                            <p class="name">Jhon Doe</p>
                            <p>Founder & CEO</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
</section>
<!-- About us end -->
<!-- Mission and vision area start -->
<section class="mission-vision bg-white pt-100 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-50 pr-sm-150 mb-md-30">
                <h2 class="fancy-2 f-700 mb-25"> Our Mission</h2>
                <p class="f-500 blue fs-15">{{about.mission}}</p>
                <!-- <p>Quisque enim ipsum, commodo et venenatis rutrum, luctus in enim. Quisque dapibus lacus non pulvinar lobortis. Cras odio dolor, pulvinar id ligula non, congue aliquam velit. Pelle ntesque tempor ornare mal esuada. Mauris vel metus vel urna interdum condimentum.</p> -->
            </div>
            <div class="col-lg-6 pr-50 pr-sm-15">
                <h2 class="fancy-2 f-700 mb-25"> Our Vision</h2>
                <p class="f-500 blue fs-15">{{about.vision}}</p>
                <!-- <ul class="check-list-2">
                    <li>Praesent sed varius ex. Ut volutpat ex in leo</li>
                    <li>Consequat, sit amet pulvinar nulla laoreet</li>
                    <li>Donec sed pretium massa pulvinar efficitur</li>
                    <li>Lorttitor elit porta et Nullam pretium</li>
                    <li>Donec sed pretium massa pulvinar </li>
                </ul> -->
            </div>
        </div>
    </div>
</section>


 <!-- Faq area start -->
 <section class="faq-area relative bg-light-white">
    <div class="bg-faq-img h-100 bg-cover d-none d-lg-block col-lg-5" style="background-image: url('img/bg/bg-faq.jpg');"></div>
    <div class="container-fluid p-0">
        <div class="row no-gutters faq-row">
            <div class="col-lg-7 offset-lg-5  pt-95 pb-85">
                <div class="faq-right-area">
                    <div class="row align-items-end mb-25">
                        <div class="col-lg-12  text-center text-lg-left">
                            <div class="fancy-head left-al">
                                <h5 class="line-head mb-15">
                <span class="line before d-lg-none"></span>
                  Faq
                <span class="line after"></span>
              </h5>
                                <h1>Frequently Asked Questions</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="faq-box">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                                            <h5 class="mb-0">
              Lorem ipsum dolor sit amet, consectetur?
                  </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header  collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                            <h5 class="mb-0">
              Aenean lobortis feugiat mauris at? 
                  </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                                            <h5 class="mb-0">
              Nulla porttitor risus id mauris viverra?
                  </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" role="button">
                                            <h5 class="mb-0">
              Phasellus pulvinar porttitor?
                  </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                            <div class="card-body">
                                                Maecenas bibendum leo a velit tristique, sed ornare ante aliquet. Nullam nec magna vel nulla vehicula auctor. Sed a posuere eros. Curabitur molestie sodales orci ac laoreet. Nam mi tellus.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq area end -->
{% endblock %}