{% extends 'templates/landing_page/base/base.html' %}

{% block content %}

<section class="thanks mt-10 pt-100 pb-100" style="background-image: url('img/bg/bg-abt.jpg');" data-overlay="9">
    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="thank-outer z-5">
                    <div class="thank-icon flex-center">
                        <img src="img/career/hand.png" alt="">
                    </div>
                    <h3 class="f-700">Thank you for messaging us.</h3>
                    <p>Your message has been successfully received, and we'll get back to you shortly.</p>
                    <a href="#" class="btn btn-round mt-10">Go Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}