{% load static %}

<!-- Preloader start -->
<div class="loader-page flex-center">
    <img src="{% static 'assets_landing/img/loader.gif' %}" alt="">
</div>
<!-- Preloader end -->

<header class="transperant-head header-style-3 transition-4">
    <div class="container">
        <div class="row align-items-center no-gutters">
            <div class="col-lg-2 col-md-5 col-sm-4 col-5">
                <div class="logo transition-4">
                    <a href="#">
                        <img src="{% static 'assets_landing/img/logo.png' %}" class="transition-4" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-7 col-sm-8 col-7">
                <div class="icon-links d-flex align-items-center mr-md-30">
                    <a href="#" class="shop-icon d-none d-sm-block">
                        <i class="fas fa-shopping-basket black"></i>
                        <span class="count">2</span>
                    </a>
                    <a href="#" class="search-icon d-none d-sm-block black" data-toggle="modal" data-target="#searchModal">
                        <i class="fas fa-search"></i>
                    </a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'accounts:school_p' %}" class="btn btn-round d-none d-sm-block blob-small">Dashboard</a>
                    {% else  %}
                        <a href="{% url 'accounts:signup' %}" class="btn btn-round d-none d-sm-block blob-small">Get Started</a>
                    {% endif %}
                </div>
                <div class="menu-links links-type-3 float-left">
                    <nav class="main-menu main-menu-3 white">
                        <ul>
                            <li class="active">
                                <a href="{% url 'landing_page:landing' %}">Home </a>
                            
                            </li>
                   
                            <li>
                                <a href="{% url 'landing_page:pricing' %}">Pricing </a>
                               
                            </li>
                            <li>
                                <a href="{% url 'landing_page:s_features' %}">Features </a>
                               
                            </li>
                            <li>
                                <a href="{% url 'landing_page:contact' %}">Contact Us </i></a>
                                
                            </li>
                            <li>
                                <a href="index-2.html">More <i class="fas fa-angle-down"></i></a>
                                <ul class="submenu">
                                    <li> <a href="{% url 'landing_page:about' %}">About Us</a></li>
                                    <li> <a href="{% url 'landing_page:terms' %}">Terms & Conditions </a></li>
                                    <li> <a href="{% url 'landing_page:privacy' %}">Privacy Policy </a></li>
                                    <li> <a href="{% url 'landing_page:faqs' %}">Faq </a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-menu-3"></div>
            </div>
        </div>
    </div>

</header>
<!-- The search Modal start -->
<div class="search-popup modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <div class="form-group relative">
                        <input type="text" class="form-control input-search" id="search" placeholder="Search here...">
                        <i class="fas fa-search transform-v-center"></i>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <i class="fas fa-times close-search-modal" data-dismiss="modal" aria-label="Close"></i>
</div>
<!-- The search Modal end -->
    <!-- Header end -->
    <!-- Header end -->